@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables for theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #cfcfcf;
    --foreground: #ededed;
  }
}

/* Global body styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
